@model BBMSRazorPages.Pages.ScheduleBookingModel

@foreach (var dayOfWeek in Model.DaysOfWeek)
{
    <input type="checkbox" id="@("checkbox_" + dayOfWeek)" name="SelectedDaysOfWeek" value="@dayOfWeek" />
    <label for="@("checkbox_" + dayOfWeek)">@dayOfWeek</label>
}