@page
@model BBMSRazorPages.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BBMSRazorPages</h1>
    <p class="lead">This is the welcome page of your application.</p>
    <p>Feel free to explore and modify the content to suit your needs.</p>
</div>