@page
@model BBMSRazorPages.Pages.IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <h1 class="display-1">Welcome to BBMS</h1>
    <p class="lead">Book Your Court, Ace Your Game.</p>
    <p>Small system for booking badminton courts and services</p>
</div>